extends ../template.pug

include ../../blocks/info-apartment/info-apartment
include ../../blocks/visitor-review/visitor-review
include ../../blocks/pie-chart/pie-chart
include ../../blocks/pie-chart-legend/pie-chart-legend
include ../../blocks/receipt/receipt
include ../../blocks/bullet-list/bullet-list

block content
    -
        var text1 = 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        var text2 = 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.'
    main.room-details
        .room-details__photos
            .room-details__main-photo
            .room-details__additional-photos
                .room-details__additional-top-photo
                .room-details__additional-bottom-photo
        .room-details__info
            article.room-details__info-left-column
                section.room-details__info-apartment
                    h2.room-details__header= "Сведения о номере"
                    -
                        const info = [
                            {icon: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены'},
                            {icon: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален'},
                            {icon: 'whatshot', title: 'Уют', text: 'Номер оснащен камином'},
                        ]
                    +info-apartment(info)
                section.room-details__pie-chart
                    h2.room-details__header.room-details__pie-chart-title= "Впечатления от номера"
                    .room-details__pie-chart-graph
                        +pie-chart(25, 25, 50)
                        .room-details__pie-chart-legend
                            +pie-chart-legend
                section.room-details__reviews
                    .room-details__reviews-title
                        h2.room-details__header= "Отзывы посетителей номера"
                        span.room-details__reviews-counter= "2 отзыва"
                    +visitor-review ("_active", "images/guest-1.jpg", "Мурад Сарафанов", "5 дней назад", "12", text1)
                    +visitor-review ("", "images/guest-2.jpg", "Патрисия Стёклышкова", "Неделю назад", "2", text2)
                section.room-details__additional
                    .room-details__rules
                        h2.room-details__header.room-details__rules-title= "Правила"
                        +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
                    .room-details__cancel
                        h2.room-details__header.room-details__cancel-title= "Отмена"
                        = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги"
            aside.room-details__info-right-column
                +receipt

