extends ../../template.pug

include ../../blocks/info-apartment/info-apartment
include ../../blocks/visitor-review/visitor-review
include ../../blocks/pie-chart/pie-chart
include ../../blocks/pie-chart-legend/pie-chart-legend
include ../../blocks/receipt/receipt

block content
    - var text1 = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
    - var text2 = "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент."
    .room-details
        .room-details__fotos
            .room-details__fotos-left
            .room-details__fotos-right
                .room-details__fotos-right-img1
                .room-details__fotos-right-img2
        .room-details__info
            main.room-details__info-left-column
                section.room-details__info-apartment
                    h2.room-details__header= "Сведения о номере"
                    +info-apartment("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
                    +info-apartment("location_city", "Удобство", "Окно в каждой из спален")(type = "with border")
                    +info-apartment("whatshot", "Уют", "Номер оснащен камином")
                section.room-details__pie-chart
                    h2.room-details__header.room-details__pie-chart-title= "Впечатления от номера"
                    .room-details__pie-chart-graph
                        +pie-chart(25, 25, 50)
                        .room-details__pie-chart-legend
                            +pie-chart-legend
                section.room-details__reviews
                    .room-details__reviews-title
                        h2.room-details__header= "Отзывы посетителей номера"
                        span.room-details__reviews-counter= "2 отзыва"
                    +visitor-review ("_active", "images/guest-1.jpg", "Мурад Сарафанов", "5 дней назад", "12", text1)
                    +visitor-review ("", "images/guest-2.jpg", "Патрисия Стёклышкова", "Неделю назад", "2", text2)
                .room-details__additional
                    section.room-details__rules
                        h2.room-details__header.room-details__rules-title= "Правила"
                        ul.room-details__rules-list
                            li.room-details__rules-list-item
                                div= "Нельзя с питомцами"
                            li.room-details__rules-list-item
                                div= "Без вечеринок и мероприятий"
                            li.room-details__rules-list-item
                                div= "Время прибытия — после 13:00, а выезд до 12:00"
                    section.room-details__cancel
                        h2.room-details__header.room-details__cancel-title= "Отмена"
                        = "Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги"
            aside.room-details__info-right-column
                +receipt

