mixin datepicker-2f(title1= "", title2= "")
    .datepicker-2f.js-datepicker-2f
        .datepicker-2f__input-column
            h3.datepicker-2f__title= title1
            .datepicker-2f__wrapper-input-field.js-datepicker-2f__wrapper-input-field
                input(
                    type="text" class = "datepicker-here datepicker-2f__input-field js-datepicker-2f__input-field"
                    inline = "true" data-range="true" data-multiple-dates-separator = " - "
                    clearButton = "true" placeholder="ДД.ММ.ГГГГ"
                )
                span.material-icons.datepicker-2f__symbol-expand= "expand_more"
        .datepicker-2f__input-column
            h3.datepicker-2f__title= title2
            .datepicker-2f__wrapper-input-field.js-datepicker-2f__wrapper-input-field
                input(
                    class = "datepicker-2f__input-field js-datepicker-2f__out-date-field"
                    placeholder="ДД.ММ.ГГГГ"
                )
                span.material-icons.datepicker-2f__symbol-expand= "expand_more"
