mixin dropdown-without-butts(title, placeholder, ...args)
    - var classMod = attributes.modifiers ? "dropdown-without-butts " + attributes.modifiers : "dropdown-without-butts"
    div(class = classMod)
        div= title        
        .dropdown-without-butts__field
            = placeholder
            span.material-icons= "expand_more"   
        ul.dropdown-without-butts__ul         
            each val in args
                li.dropdown-without-butts__list-elem
                    span.dropdown-without-butts__item= val
                    button.dropdown-without-butts__butt.dropdown-without-butts__minus= "-"                        
                    span.dropdown-without-butts__quantity.dropdown-without-butts__butt= "0"
                    button.dropdown-without-butts__butt.dropdown-without-butts__plus= "+"        