include ../toggle-button/toggle-button
include ../radio-button/radio-button
include ../button-with-arrow/button-with-arrow
include ../button/button

mixin registration-form
    .registration-form
        form(action="changeme", method="post")
            h1.registration-form__title= "Регистрация аккаунта"
            input(type="text" placeholder= "Имя").registration-form__input
            input(type="text" placeholder= "Фамилия").registration-form__input
            .registration-form__radio-buttons
                .registration-form__radio-button
                    +radio-button("gender", "Мужчина")
                .registration-form__radio-button
                    +radio-button("gender", "Женщина")
            h3.registration-form__header= "Дата рождения"
            input(type="text" placeholder= "ДД.ММ.ГГГГ").registration-form__input
            .registration-form__service-input
                h3.registration-form__header= "Данные для входа в сервис"
                input(type="email" placeholder= "Email").registration-form__input
                input(type="password" placeholder= "Пароль").registration-form__input
            .registration-form__toggle-button
                +toggle-button
                p.registration-form__toggle-button-text= "Получать спецпредложения"
            button(type="submit").registration-form__button-submit
                +button-with-arrow("ПЕРЕЙТИ К ОПЛАТЕ")
            .registration-form__footer
                p.registration-form__footer-text= "Уже есть аккаунт на Toxin"
                +button("войти")(size = "long")

