include ../toggle-button/toggle-button
include ../radio-button/radio-button
include ../button-with-arrow/button-with-arrow
include ../navbar/__button/navbar__button
mixin registration-form
    .registration-form
        h1= "Регистрация аккаунта"
        input.text-field(type="text" placeholder= "Имя")
        input.text-field(type="text" placeholder= "Фамилия")
        .wrapper-radio-buttons
            +radio-button("gender", "Мужчина")
            +radio-button("gender", "Женщина")
        h3= "Дата рождения"
        input.text-field(type="text" placeholder= "ДД.ММ.ГГГГ")
        .wrapper-h3-service-input
            h3= "Данные для входа в сервис"
        input.text-field(type="email" placeholder= "Email")
        input.text-field(type="password" placeholder= "Пароль")
        .wrapper-toggle-button
            +toggle-button
            p= "Получать спецпредложения"
        +button-with-arrow("ПЕРЕЙТИ К ОПЛАТЕ", "")
        .wrapper-in
            p= "Уже есть аккаунт на Toxin"
            +navbar__button("ВОЙТИ", "_for-reg-form")
        
