include ../appartment-card/__info/appartment-card__info
include ../datepicker-2f/datepicker-2f
include ../dropdown/dropdown
include ../button-with-arrow/button-with-arrow

mixin appartments-finder-check 
    .appartments-finder-check 
        +appartment-card__info(888, "ЛЮКС", "9 990")(type = "for-appartments-finder-check")       
        +datepicker-2f("ПРИБЫТИЕ", "ВЫЕЗД")
        .appartments-finder-check__dropdown
            +dropdown("ГОСТИ", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
        .appartments-finder-check__items
            .appartments-finder-check__price-item
                .appartments-finder-check__price-item-text
                    span= "9 990₽ х 4 суток"
                .appartments-finder-check__price-item-price= "39 960₽"
            .appartments-finder-check__price-item
                .appartments-finder-check__price-item-text
                    span= "Сбор за услуги: скидка 2 179₽"
                    span.appartments-finder-check__price-item-i= "i"
                .appartments-finder-check__price-item-price= "0₽"
            .appartments-finder-check__price-item
                .appartments-finder-check__price-item-text.appartments-finder-check__price-item-text_lh18px
                    span= "Сбор за дополнительные услуги"
                    span.appartments-finder-check__price-item-i= "i"
                .appartments-finder-check__price-item-price= "300₽"
        .appartments-finder-check__total
            span= "Итого"
            span.appartments-finder-check__total-dot-line
            span= "38 081₽"
        .appartments-finder-check__button-with-arrow
            +button-with-arrow("ЗАБРОНИРОВАТЬ")  