include ../button/button

mixin navbar
    -
        var usernameClass = 'navbar__user-name'
        var itemClass = 'navbar__item'
        var btnClass = 'navbar__button'

        if (attributes.type === 'without-buttons') {
            btnClass += ' navbar__button_hidden'
            usernameClass += ' navbar__user-name_displayed'
        }

        if (attributes.firstElem === 'bolded') {
            itemClass += ' navbar__item_bolded'
        }

    nav(class = "navbar js-navbar")
        .navbar__logo
            a(href="/" class = "navbar__reference")
                img(height="40px" alt="логотип" src = "images/logo-toxin.png")
        .navbar__items
            .navbar__collapsed-menu
                a(href="changeMe" class = "navbar__reference")
                    div(class = itemClass)= "О нас"
                span.material-icons.navbar__expand-btn.js-navbar__expand-btn= "more_horiz"
            .navbar__list.js-navbar__list
                span(href="changeMe" class = "navbar__reference")
                    .navbar__item
                        ="Услуги"
                        span.material-icons.navbar__symbol-expand= "expand_more"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item= "Вакансии"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item= "Новости"
                span(href="changeMe" class = "navbar__reference")
                    .navbar__item
                        ="Соглашения"
                        span.material-icons.navbar__symbol-expand= "expand_more"
            .navbar__buttons.js-navbar__buttons
                div(class= btnClass).navbar__button_margin_reduced
                    +button("войти", "js-navbar__in-btn")(forNavbar=true size="thin")
                div(class= btnClass)
                    +button("зарегистрироваться", "js-navbar__reg-btn")(color="violet" forNavbar=true size="medium")
                a(href="changeMe" class = "navbar__reference")
                    div(class = usernameClass)= "Юлий Цезарь"