mixin navbar
    nav(class = "navbar")
        .navbar__logo
            img(height="40px" alt="логотип" src = "images/logo-toxin.png")
        .navbar__items
            .navbar__collapsed-menu
                a(href="changeMe")
                    .navbar__item.navbar__item_bold= "О нас"
                span.material-icons.navbar__item.navbar__expand-butt.js-navbar__expand-butt= "more_horiz"
            .navbar__list.js-navbar__list    
                a(href="changeMe")
                    .navbar__item
                        ="Услуги"
                        span.material-icons= "expand_more"
                a(href="changeMe")
                    .navbar__item= "Вакансии"
                a(href="changeMe")
                    .navbar__item= "Новости"
                a(href="changeMe")
                    .navbar__item
                        ="Соглашения"
                        span.material-icons= "expand_more"
            .navbar__buttons.js-navbar__buttons 
                .button.navbar__button.js-navbar__in-butt= "войти"
                .button.navbar__button.button_violet.js-navbar__reg-butt= "зарегистрироваться"
                a(href="changeMe")
                    .navbar__sign-in= "Юлий Цезарь"