mixin navbar
    nav(class = "navbar")
        .navbar__logo
            img(height="40px" alt="логотип" src = "images/logo-toxin.png")
        .navbar__items
            .navbar__items__menu-collapsed
                a(href="changeMe")
                    .navbar__item.navbar__item_bold= "О нас"
                span.material-icons.navbar__item.navbar__expand-butt= "more_horiz"
            .navbar__list    
                a(href="changeMe")
                    .navbar__item
                        ="Услуги"
                        span.material-icons= "expand_more"
                a(href="changeMe")
                    .navbar__item= "Вакансии"
                a(href="changeMe")
                    .navbar__item= "Новости"
                a(href="changeMe")
                    .navbar__item
                        ="Соглашения"
                        span.material-icons= "expand_more"
            .navbar__buttons
                .button.navbar__button= "войти"
                .button.button_violet.navbar__button= "зарегистрироваться"
                a(href="changeMe")
                    .navbar__sign-in= "Юлий Цезарь"
                        


        


