include ../button/button

mixin navbar
    nav(class = "navbar")
        .navbar__logo
            img(height="40px" alt="логотип" src = "images/logo-toxin.png")
        .navbar__items
            .navbar__collapsed-menu
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item= "О нас"
                span.material-icons.navbar__expand-btn.js-navbar__expand-btn= "more_horiz"
            .navbar__list.js-navbar__list
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item
                        ="Услуги"
                        span.material-icons.navbar__symbol-expand= "expand_more"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item= "Вакансии"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item= "Новости"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__item
                        ="Соглашения"
                        span.material-icons.navbar__symbol-expand= "expand_more"
            .navbar__buttons.js-navbar__buttons
                .navbar__button.js-navbar__in-btn= "войти"
                .navbar__button.navbar__button_color_violet.js-navbar__reg-btn= "зарегистрироваться"
                a(href="changeMe" class = "navbar__reference")
                    .navbar__user-name= "Юлий Цезарь"