mixin dropdown(title, placeholder, ...args)
    - var classMod = attributes.modifiers ? "dropdown " + attributes.modifiers : "dropdown"
    div(class = classMod)
        div= title        
        .dropdown__field
            = placeholder
            span.material-icons= "expand_more"   
        ul.dropdown__ul         
            each val in args
                li.dropdown__list-elem
                    span.dropdown__item= val
                    button.dropdown__butt.dropdown__minus= "-"                        
                    span.dropdown__quantity.dropdown__butt= "0"
                    button.dropdown__butt.dropdown__plus= "+"
        .dropdown__buttons
            .dropdown__clear= "ОЧИСТИТЬ"
            .dropdown__apply= "ПРИМЕНИТЬ"