mixin dropdown(title, placeholder, ...args)
    -   
        var blockclass = "dropdown"
        var buttonsClass = "dropdown__buttons"

        if (attributes.width === "266px")
            blockclass += " dropdown_width266px"

        if (attributes.type === "without butts") {
            buttonsClass += " dropdown__buttons_none"
            blockclass += " dropdown_without-butts"
        }

    div(class = blockclass)
        h3= title        
        .input-text.dropdown__field
            = placeholder
            span.material-icons= "expand_more"   
        ul.dropdown__ul         
            each val in args
                li.dropdown__li
                    .dropdown__item= val
                    .dropdown__counter
                        button(type="button").dropdown__butt.dropdown__minus!= "–"                        
                        span.dropdown__butt.dropdown__quantity= "0"
                        button(type="button").dropdown__butt.dropdown__plus= "+"
        div(class = buttonsClass)
            .dropdown__clear= "очистить"
            .dropdown__apply= "применить"