mixin dropdown({ title, placeholder, items })
    -
        var blockclass = 'dropdown js-dropdown'
        var buttonsClass = 'dropdown__buttons js-dropdown__buttons'
        var listClass = 'dropdown__list js-dropdown__list'

        if (attributes.overlapping === 'none') {
            blockclass += ' dropdown_without-overlapping'
            listClass += ' dropdown__list_bordered'
        }

        if (attributes.shadow === 'none')
            blockclass += ' dropdown_without-shadow'

    div(class = blockclass)
        h3.dropdown__title= title
        .dropdown__field.js-dropdown__field
            = placeholder
            span.material-icons.dropdown__symbol-expand= "expand_more"
        ul(class = listClass)
            each val in items
                li.dropdown__list-item
                    .dropdown__item= val
                    .dropdown__counter
                        button(type="button").dropdown__btn-minus.js-dropdown__btn-minus!= "-"
                        span.dropdown__quantity.js-dropdown__quantity= "0"
                        button(type="button").dropdown__btn-plus.js-dropdown__btn-plus= "+"
            div(class = buttonsClass)
                .dropdown__clear-button.js-dropdown__clear-button= "очистить"
                .dropdown__apply-button.js-dropdown__apply-button= "применить"