include ../slider/slider
include ../dropdown/dropdown
include ../datepicker-block/datepicker-block
include ../checkbox-item/checkbox-item
include ../expandable-checkboxes/expandable-checkboxes

mixin apartment-form
    .apartment-form.js-apartment-form
        +datepicker-block("ДАТЫ ПРЕБЫВАНИЯ В ОТЕЛЕ")
        .apartment-form__dropdown-guests
            +dropdown({ title: "ГОСТИ", placeholder: "Сколько гостей", items: ["ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ"] })(overlapping = "none" shadow = "none")
        .apartment-form__slider
            +slider
            p.apartment-form__slider-price-description= "Стоимость за сутки пребывания в номере"
        .apartment-form__options
            .apartment-form__options-title
                h3.apartment-form__title= "checkbox buttons"
            each val in ["Можно курить", "Можно с питомцами", "Можно пригласить гостей <br> (до 10 человек)"]
                .apartment-form__checkbox
                    +checkbox-item(val)
        .apartment-form__accessibility
            .apartment-form__accessibility-title
                h3.apartment-form__title= "доступность"
            .apartment-form__checkbox
                +checkbox-item("Широкий коридор")(style = "bold")
            p.apartment-form__checkbox-description!= "Ширина коридоров в номере <br> не менее 91 см."
            .apartment-form__checkbox
                +checkbox-item("Помощник для инвалидов")(style = "bold")
            p.apartment-form__checkbox-description!= "На 1 этаже вас встретит специалист <br> и проводит до номера"
        .apartment-form__dropdown-beds
            +dropdown({ title: "УДОБСТВА НОМЕРА", placeholder: "Выберите удобства", items: ["СПАЛЬНИ", "КРОВАТИ", "ВАННЫЕ КОМНАТЫ"] })(buttons = "none" overlapping = "none" shadow = "none")
        .apartment-form__more-options
            +expandable-checkboxes({ title: "дополнительные удобства", items: ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"] })
