extends ../ui-template

block content
    .ui-colors
        .ui-colors__left-col
            - var sq__classes = ["dark100", "dark75", "dark50", "dark25", "dark05", "purple", "green"]
            - var titles = ["Dark Shade 100%", "Dark Shade 75%", "Dark Shade 50%", "Dark Shade 25%", "Dark Shade 5%", "Purple", "Green"]
            - var codes = ["#1F2041", "#1F2041", "#1F2041", "#1F2041", "#1F2041", "#BC9CFF", "#6FCF97"]
            each item, index in sq__classes
                .ui-colors__color-item
                    div(class = "ui-colors__sq ui-colors__sq_color_" + item)
                    .ui-colors__color-item-text
                        p.ui-colors__color-item-title= titles[index]
                        p.ui-colors__color-item-code= codes[index]
        .ui-colors__right-col
            .ui-colors__type-item
                h1.ui-colors__header-marker.ui-colors__header-marker_size_h1= "H1"
                h1.ui-colors__header-1!= "This one is the sub-section or<br>widget title"
            .ui-colors__type-item
                h2.ui-colors__header-marker.ui-colors__header-marker_size_h2= "H2"
                h2.ui-colors__header-2!= "Next one is the item title inside<br>widgets"
            .ui-colors__type-item.ui-colors__type-item_margin_decreased
                h3.ui-colors__header-marker.ui-colors__header-marker_size_h3= "H3"
                h3.ui-colors__header-3!= "This is a label or CTA text"
            .ui-colors__type-item
                p.ui-colors__header-marker= "Body"
                p.ui-colors__body-text!= "This is the body text which is used for most<br>of the design, like paragraphs, lists, etc."
