extends ../../ui-template

block content
    .ui-colors
        .ui-colors__left-col
            - var sq__classes = ["dark100", "dark75", "dark50", "dark25", "dark05", "purple", "green"]
            - var titles = ["Dark Shade 100%", "Dark Shade 75%", "Dark Shade 50%", "Dark Shade 25%", "Dark Shade 5%", "Purple", "Green"]
            - var codes = ["#1F2041", "#1F2041", "#1F2041", "#1F2041", "#1F2041", "#BC9CFF", "#6FCF97"]
            each item, index in sq__classes
                .ui-colors__color-item
                    div(class = "ui-colors__sq ui-colors__sq_" + item)
                    .ui-colors__color-item-text
                        h2.ui-colors__color-item-title= titles[index]
                        h2.ui-colors__color-item-code= codes[index]
        .ui-colors__right-col
            .ui-colors__type-item
                h1.ui-colors__type-header= "H1"
                h1.ui-colors__type-text!= "This one is the sub-section or&#10;widget title"
            .ui-colors__type-item
                h2.ui-colors__type-header= "H2"
                h2.ui-colors__type-text!= "Next one is the item title inside&#10;widgets"
            .ui-colors__type-item
                h3.ui-colors__type-header= "H3"
                h3.ui-colors__type-text!= "This is a label or CTA text"
            .ui-colors__type-item.ui-colors__type-item_body
                p.ui-colors__type-header= "Body"
                p.ui-colors__type-text!= "This is the body text which is used for most&#10;of the design, like paragraphs, lists, etc."
