extends ui-template
include blocks/dropdown/dropdown
include blocks/datepicker-2f/datepicker-2f
include blocks/datepicker-1f/datepicker-1f
include blocks/email/email
include blocks/checkbox-item/checkbox-item
include blocks/info-appartment/info-appartment
include blocks/radio-button/radio-button
include blocks/toggle-button/toggle-button
include blocks/like-button/like-button
include blocks/button-with-arrow/button-with-arrow
include blocks/visitor-review/visitor-review

block content
    .content-ui-form-elements
        .left-col
            .wrapper-text-field
                .wrapper-title-text-field
                    h3= "text field"
                    h3.h3-grey= "default"
                input.text-field(type="text" placeholder="Email")
            .wrapper-text-field
                .wrapper-title-text-field
                    h3= "text field"
                    h3.h3-grey= "hover / focus"
                input.text-field.text-field_hover(type="text" value="This is pretty awesome")
            .wrapper-dropdown-guests
                +dropdown("DROPDOWN", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
            .wrapper-text-field
                .wrapper-title-text-field
                    h3= "masked text field"
                    h3.h3-grey= "default"
                input.text-field(type="text" placeholder="ДД.ММ.ГГГГ")
            .wrapper-datepicker-2f
                +datepicker-2f("DATE DROPDOWN", "DATE DROPDOWN")
            .wrapper-datepicker-1f
                +datepicker-1f("FILTER DATE DROPDOWN")
            .wrapper-footer-large__inf-elem-email
                h3= "subscription text field"
                +email
            .wrapper-dropdown-beds
                +dropdown("DROPDOWN", "Выберите удобства", "СПАЛЬНИ", "КРОВАТИ", "ВАННЫЕ КОМНАТЫ")(type = "without butts" width = "266px")
            .wrapper-dropdown-beds_expanded
                +dropdown("DROPDOWN", "Выберите удобства", "СПАЛЬНИ", "КРОВАТИ", "ВАННЫЕ КОМНАТЫ")(type = "without butts" width = "266px")
            .wrapper-more-options_collapsed
                .appartment-form__wrapper-checkbox-item__more-options
                    .appartment-form__dropdown-title
                        h3= "EXPANDABLE CHECKBOX LIST"
                        span.material-icons.appartment-form__expand-butt.appartment-form__expand-butt_rotate= "expand_less"
                    .appartment-form__checkboxes.appartment-form__checkboxes_dissappear   
                        +checkbox-item("Завтрак")
                        +checkbox-item("Письменный стол")
                        +checkbox-item("Стул для кормления")
                        +checkbox-item("Кроватка")
                        +checkbox-item("Телевизор")
                        +checkbox-item("Шампунь")
                        +checkbox-item("Телевизор")
                        +checkbox-item("Шампунь")
            .wrapper-more-options
                .appartment-form__wrapper-checkbox-item__more-options
                    .appartment-form__dropdown-title
                        h3= "EXPANDABLE CHECKBOX LIST"
                        span.material-icons.appartment-form__expand-butt= "expand_less"
                    .appartment-form__checkboxes   
                        +checkbox-item("Завтрак")
                        +checkbox-item("Письменный стол")
                        +checkbox-item("Стул для кормления")
                        +checkbox-item("Кроватка")
                        +checkbox-item("Телевизор")
                        +checkbox-item("Шампунь")
                        +checkbox-item("Телевизор")
                        +checkbox-item("Шампунь")
            .wrapper-info-appartment   
                +info-appartment("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
                +info-appartment("location_city", "Удобство", "Окно в каждой из спален")(type = "with border")
        .middle-right-col
            .middle-col
                .appartment-form__wrapper-checkbox-item__options
                    h3= "CHECKBOX BUTTONS"
                    +checkbox-item("Можно курить")
                    +checkbox-item("Можно с питомцами")
                    +checkbox-item("Можно пригласить гостей <br> (до 10 человек)")
                .wrapper-radio-buttons-block
                    h3= "radio buttons"
                    .wrapper-radio-buttons
                        +radio-button("gender", "Мужчина")
                        +radio-button("gender", "Женщина")
                .wrapper-toggle-buttons-block
                    h3= "toggle"
                    .wrapper-toggle-button
                        +toggle-button
                        p= "Получать спецпредложения"
                    .wrapper-toggle-button
                        +toggle-button
                        p= "Получать спецпредложения"
                .wrapper-like-buttons-block
                    h3= "like button"
                    .wrapper-like-button
                        +like-button("", 2)
                        +like-button("_active", 12)
                .wrapper-stars-block
                    h3= "rate button"
                    .stars-block
                        .stars
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star_border"
                        .stars
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                            span.material-icons.appartment-card__rating-star= "star"
                .wrapper-dropdown-guests_expanded
                    +dropdown("DROPDOWN", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
                .wrapper-rich-checkbox-buttons
                    h3= "RICH CHECKBOX BUTTONS"
                    +checkbox-item("Широкий коридор")(style = "bold")
                    .appartment-form__checkbox-description!= "Ширина коридоров в номере <br> не менее 91 см."
                    +checkbox-item("Помошник для инвалидов")(style = "bold")
                    .appartment-form__checkbox-description!= "На 1 этаже вас встретит специалист <br> и проводит до номера"
            .right-col
                .wrapper-slider
                    .appartment-form__price-slider
                        .appartment-form__title-wrapper
                            h3.appartment-form__title= "RANGE SLIDER"
                            .appartment-form__price(id = "form-price")= ""
                        .slider(id = "slider")
                .wrapper-buttons
                    h3= "buttons"
                    .wrapper-buttons-row.wrapper-buttons-row-violet
                        .button.button_violet= "CLICK ME"
                        .wrapper-button-hover
                            .button.button_violet= "CLICK ME"
                    .wrapper-buttons-row
                        .button= "CLICK ME"
                        .wrapper-button-hover
                            .button= "CLICK ME"
                    .wrapper-buttons-row.wrapper-buttons-row_last
                        .button-without.button-without_hover
                            h3= "CLICK ME"
                        .button-without
                            h3= "CLICK ME"
                    .wrapper-button-with-arrow
                        +button-with-arrow("ПЕРЕЙТИ К ОПЛАТЕ")
                .wrapper-pagination
                    h3= "pagination"
                    .search-room__pages
                        button.search-room__button.search-room__button_violet= 1
                        button.search-room__button= 2
                        button.search-room__button= 3
                        button.search-room__button= "..."
                        button.search-room__button= 15                
                        button.material-icons.search-room__button.search-room__button_green= "arrow_forward"
                    .search-room__pages-comment= "1 – 12 из 100+ вариантов аренды"
                .wrapper-dropdown-guests_expanded_2
                    +dropdown("DROPDOWN", "Сколько гостей", "ВЗРОСЛЫЕ", "ДЕТИ", "МЛАДЕНЦЫ")
                .wrapper-bullet-list
                    .room-details__additional
                        .room-details__rules
                            h3 BULLET LIST
                            ul
                                li
                                    div= "Нельзя с питомцами"
                                li 
                                    div= "Без вечеринок и мероприятий"
                                li 
                                    div= "Время прибытия — после 13:00, а выезд до 12:00"
            .wrapper-reviews
                .wrapper-reviews-title
                - var text1 = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару – никто не жаловался из соседей."                        
                +visitor-review ("_active", "images/users/1.jpg", "Мурад Сарафанов", "5 дней назад", "12", text1)                    




                        
                        

                        
    script.
        document.querySelector(".wrapper-dropdown-beds_expanded .dropdown-without-butts__field").classList.add("dropdown-without-butts__field_active");
        document.querySelector(".wrapper-dropdown-beds_expanded ul").classList.add("dropdown-without-butts__ul_active");
        document.querySelector(".wrapper-more-options_collapsed .appartment-form__dropdown-wrapper span.material-icons").classList.add("appartment-form__expand-butt_rotate");
        document.querySelector(".wrapper-more-options_collapsed .appartment-form__checkboxes").setAttribute("style", "display: none;");
        document.querySelector(".wrapper-dropdown-guests_expanded .dropdown__field").classList.add("dropdown__field_active");
        document.querySelector(".wrapper-dropdown-guests_expanded .dropdown__ul ").classList.add("dropdown__ul_active");
        document.querySelector(".wrapper-dropdown-guests_expanded .dropdown__buttons").setAttribute("style", "display: flex");
        document.querySelector(".wrapper-dropdown-guests_expanded_2 .dropdown__field").classList.add("dropdown__field_active");
        document.querySelector(".wrapper-dropdown-guests_expanded_2 .dropdown__ul ").classList.add("dropdown__ul_active");
        document.querySelector(".wrapper-dropdown-guests_expanded_2 .dropdown__buttons").setAttribute("style", "display: flex");
       
        
            

    
    
    
    
    




